body{
background-color: aliceblue;
max-width:500px;
max-height:400px;
text-align:center;
margin:auto;
}

main{
width:auto;
height:200px;
}

p{
background-color: red;
max-height: 200px;
float:left;
}

blockquote{
background-color:bisque;    
float:right;
width: 200px;
height: 50px;
}

h1{
    background-color: aquamarine;
    width:100%;
    height:25%;
    clear:right;
    }
